.pokemon-details-name{
    font-size: xx-large;
    color: black;
    margin-top: 1rem;
}

.pokemon-details-types{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    font-size: larger;
}

.pokemon-details-types div {
    border: 1px solid gainsboro;
    border-radius: 20px;
    padding: 1rem;
    background-color: gainsboro;
}

.pokemon-details-image {
    margin-top: 2rem;
}